body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(255, 225, 32);
    color: rgb(153, 11, 11);
}

.container {
    margin-top: 50px;
}

.score, .lives {
    font-size: 24px;
    margin: 20px 0;
}

button {
    background-color: rgb(255, 98, 0);
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(255, 16, 16);
}